.container {
  background-color: var(--pink-100);
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90vw;
  margin: 5rem 0;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow-1);
  h3 {
    font-size: 1.953rem;
    margin-bottom: 2rem;
  }
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 12px;
  align-items: center;

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
  }

  h4 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.563rem;
  }

  p {
    color: var(--grey-500);
    margin: 0;
  }
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.clear-btn {
  width: 100%;
  background: var(--pink-500);

  &:hover {
    background: var(--pink-700);
  }
}
